@font-face {
  font-family: 'Medodica';
  src: url("medodica.otf");
}

@media screen and (max-width: 700px) {
  header, footer {
    flex-direction: column !important;
  }

  .inv-self {
    display: none;
  }

  body {
    background-color: #fc3c3c;
  }

  #social {
    font-size: 1.5em;
  }

  #logo {
    max-width: 16em;
  }

  header img {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  #landing {
    box-shadow: .1em .1em 0 black, .5em .5em 0 #fc3c3c;
    background-color: #fc3c3c;
  }

  body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inv-landing {
    display: none;
  }

  header img {
    width: 16em;
    height: 16em;
  }

  #social {
    gap: 2em;
  }
}


body {
  margin: 0;
  font-family: 'Medodica', monospace, sans-serif;
  image-rendering: pixelated;
  min-height: max(600px, 100vh);
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 4em;
}

.invitation {
  font-size: 2.25em;
  text-align: center;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a, #invitation {
  color: black;
}

#social a {
  font-size: 1.5em;
}

#social a img {
  vertical-align: middle;
  height: 1em;
  margin-right: .25em;
}